.homepage-header-container {
  display: flex;
  flex-direction: column;
}
.header-inner-container {
  display: flex;
  flex-direction: column;
  background-color: #126f84;
  width: 100vw;
  height: 70vh;
  border-radius: 0 0 10rem 10rem;
  /* position: absolute;
  top: 0;
  z-index: -1; */
}

.header-inner-container h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
