.testimonial-container {
  width: 100%;
}
.testimonial-container h1 {
  font-size: 5rem;
  font-weight: 400;
}

.testimonial-list {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.testimonial-items {
  margin: 2rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  -shadow: 10px 10px 8px 10px #888888;
  width: 20rem;
  height: 20rem;
  /* border: 2px solid red; */
}
.testimonial-items .info {
  margin: 1rem;
  font-size: 1.3rem;
}

.testimonial-items .name {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 1rem;
}
.testimonial-items .desig {
  font-size: 1rem;
  text-align: right;
  margin-right: 1rem;
}
